@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700&display=swap);
body {
  font-family: "Roboto", sans-serif;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*===================================   Zeroing/Обнуление   ===================================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, :after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1px;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p, div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*=================================   Indent caps,body,footer  =====================================*/
body {
  height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

/*=================================  Bounding container  ===========================================*/
[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logotip {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.section {
  padding: 94px 0px 94px 0px;
}

.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.permanent-clients__titel, .our-team__titel, .specificit__titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-form__titel, .titel-social-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__inner {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.logo__black {
  color: #000000;
}

.header-navigation {
  margin: 0px 0px 0px 93px;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.header-nav__link {
  position: relative;
  padding: 32px 0;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #2196F3;
}
.header-nav__link-active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 270px;
}
.header-contacts__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.header-contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196F3;
}
.header-contacts__icon {
  width: 16px;
  height: 16px;
  margin: 0px 10px 0px 0px;
  fill: currentColor;
}

@media (max-width: 1199px) {
  .logotip {
    font-size: 24px;
    line-height: 1.16;
  }
  .header-navigation {
    margin: 0px 0px 0px 88px;
  }
  .header-contacts {
    flex-wrap: wrap;
    margin: 0px 0px 0px 84px;
  }
  .header-contacts__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
  .header-contacts__link {
    font-size: 12px;
    line-height: 1.16;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    justify-content: space-between;
  }
  .header-navigation {
    display: none;
  }
  .header-contacts {
    display: none;
  }
}
body._lock {
  overflow: hidden;
}

.header-burger__icon {
  display: none;
}

.header-burger__body {
  display: none;
}

@media (max-width: 767px) {
  .header-burger__icon {
    position: relative;
    display: block;
    width: 30px;
    height: 28px;
    cursor: pointer;
    z-index: 2;
  }
  .header-burger__icon span, .header-burger__icon::before, .header-burger__icon::after {
    position: absolute;
    left: 0;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #212121;
  }
  .header-burger__icon::before, .header-burger__icon::after {
    content: "";
  }
  .header-burger__icon::before {
    top: 3px;
  }
  .header-burger__icon::after {
    bottom: 3px;
  }
  .header-burger__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header-burger__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header-burger__icon._active::before {
    top: 49%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header-burger__icon._active::after {
    bottom: 47%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header-burger__body {
    position: fixed;
    display: block;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 47px 44px 47px 38px;
    background-color: #FFFFFF;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 1;
  }
  .header-burger__body._active {
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .nav-burger {
    margin: 0px 0px 30px 0px;
  }
  .nav-burger__list {
    display: flex;
    flex-direction: column;
  }
  .nav-burger__item:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }
  .nav-burger__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .nav-burger__link:hover, .nav-burger__link:focus {
    color: #2196F3;
  }
  .burger-contacts {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 64px 0px;
  }
  .burger-contacts__item:not(:last-child) {
    margin: 0px 0px 32px 0px;
  }
  .burger-contacts__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .burger-contacts__link-m {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .burger-socail {
    display: flex;
  }
  .burger-socail__item {
    position: relative;
  }
  .burger-socail__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
  .burger-socail__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 50%;
    display: block;
    width: 22px;
    height: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    border-radius: 2px;
    transform: rotate(90deg);
  }
  .burger-socail__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
@media (max-width: 410px) {
  .burger-socail {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  .burger-socail__item {
    padding: 10px;
  }
  .burger-contacts__link {
    font-size: 27px;
  }
}
.footer {
  padding: 60px 0;
  background-color: #2F303A;
}
.footer__logo {
  display: inline-block;
  margin: 0px 0px 25px 0px;
}

.body-columns {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.body-columns__item:nth-child(1) {
  margin: 0px 70px 0px 0px;
}
.body-columns__item:nth-child(2) {
  margin: 0px 90px 0px 0px;
}

.logo__white {
  color: #FFFFFF;
}

.footer-address__list {
  font-style: normal;
}
.footer-address__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link .white-link {
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link .white-link:hover, .footer-address__link .white-link:focus {
  color: #2196F3;
}
.footer-address__link:hover, .footer-address__link:focus {
  color: #2196F3;
}

.titel-social-footer {
  color: #FFFFFF;
  margin: 0px 0px 20px 0px;
}

.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-footer__item {
  display: inline-block;
  height: 44px;
  width: 44px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.social-footer__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: #2196F3;
}
.social-footer__icon {
  fill: currentColor;
}

.footer-form {
  max-width: 570px;
  width: 100%;
}
.footer-form__titel {
  color: #FFFFFF;
  margin: 0px 0px 20px 0px;
}
.footer-form__list {
  display: flex;
  align-items: center;
}

.body-input__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.body-input__mail-footer {
  width: 360px;
  padding: 16px 16px;
  color: #FFFFFF;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.body-input__btn-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body-input__btn-footer:hover, .body-input__btn-footer:focus {
  background-color: #188CE8;
}
.body-input__icon-footer-form {
  margin-left: 10px;
  fill: currentColor;
}

@media (max-width: 1199px) {
  .body-columns {
    flex-wrap: wrap;
  }
  .body-columns__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .body-columns__item:nth-child(1) {
    margin: 0px 0px 60px 76px;
  }
  .body-columns__item:nth-child(2) {
    margin: 0px 89px 0px 0px;
  }
  .body-columns__item:nth-child(3) {
    margin: 0px 0px 0px 166px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .body-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body-input__mail-footer {
    width: 450px;
  }
  .body-input__item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 767px) {
  .body-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body-columns__item:not(:last-child) {
    margin: 0px 0px 60px 0px;
  }
  .body-columns__item:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 490px) {
  .body-input__item:first-child {
    width: 360px;
  }
  .body-input__mail-footer {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .footer {
    padding: 30px 0;
  }
  .body-columns__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .body-input__item:first-child {
    width: 300px;
  }
  .body-input__mail-footer {
    width: 100%;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 580px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.form-modal {
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.form-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #212121;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__btn-close:hover, .form-modal__btn-close:focus {
  color: #2196F3;
}
.form-modal__btn-icon-close {
  fill: currentColor;
}
.form-modal__titel-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.list-modal__item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list-modal__item:nth-child(-n+3) {
  margin-bottom: 10px;
}
.list-modal__item:nth-child(4) {
  margin-bottom: 20px;
}
.list-modal__item:nth-child(5) {
  margin-bottom: 30px;
}
.list-modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.list-modal__style-user {
  padding: 11px 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.list-modal__style-user:focus {
  border-color: #2196F3;
}
.list-modal__icon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-modal__icon {
  fill: currentColor;
}
.list-modal__style-textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.list-modal__style-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.list-modal__style-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.list-modal__style-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.list-modal__style-textarea:focus {
  border-color: #2196F3;
}
.list-modal__text-mailing-modal {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  resize: none;
}
.list-modal__style-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-modal__style-checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-modal__link-checkbox {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
  margin: 0px 0px 0px 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-btn .modal-btn__btn-modal {
  max-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 55px;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn .modal-btn__btn-modal:hover, .modal-btn .modal-btn__btn-modal:focus {
  background-color: #188CE8;
}

.list-modal__style-user:focus + .list-modal__icon-input {
  color: #2196F3;
}

.list-modal__style-checkbox:checked + .list-modal__style-checkbox-icon {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url(../img/home/modal/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

body.modal-open {
  overflow: hidden;
}

@media (max-width: 1199px) {
  .backdrop .modal {
    min-width: 450px;
  }
  .form-modal {
    max-width: 370px;
    width: 100%;
  }
  .form-modal .form-modal__titel-modal {
    font-size: 20px;
    line-height: 1.5;
  }
  .list-modal__text-mailing-modal {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media (max-width: 479px) {
  .backdrop .modal {
    padding: 20px;
    min-width: 380px;
  }
  .form-modal .form-modal__titel-modal {
    font-size: 18px;
  }
  .list-modal__text-mailing-modal {
    font-size: 12px;
  }
  .list-modal__text-mailing-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 410px) {
  .backdrop .modal {
    padding: 35px 10px 20px;
    min-width: 320px;
    width: 100%;
  }
}
.hero {
  padding: 200px 0px 200px 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/home/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.hero__wrapper-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

@media (max-width: 1199px) {
  .hero {
    padding: 118px 0px 118px 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/home/hero/hero-768px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__titel {
    font-size: 26px;
    line-height: 1.61;
  }
}
@media (max-width: 767px) {
  .hero {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/home/hero/hero-480px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 390px) {
  .hero {
    padding: 80px 0px 80px 0px;
  }
  .hero__titel {
    font-size: 20px;
  }
  .hero__btn {
    padding: 10px 25px 10px 25px;
    font-size: 14px;
  }
}
.list-peculiarities {
  display: flex;
}
.list-peculiarities__item {
  max-width: 270px;
}
.list-peculiarities__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  background-color: rgb(245, 244, 250);
  margin-bottom: 30px;
}
.list-peculiarities__item:nth-child(1)::before {
  background-image: url(../img/home/specificity/antenna.svg);
}
.list-peculiarities__item:nth-child(2)::before {
  background-image: url(../img/home/specificity/clock.svg);
}
.list-peculiarities__item:nth-child(3)::before {
  background-image: url(../img/home/specificity/diagram.svg);
}
.list-peculiarities__item:nth-child(4)::before {
  background-image: url(../img/home/specificity/astronaut.svg);
}
.list-peculiarities__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.list-peculiarities__titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.list-peculiarities__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (max-width: 1199px) {
  .list-peculiarities {
    flex-wrap: wrap;
  }
  .list-peculiarities__item {
    max-width: 354px;
  }
  .list-peculiarities__item:not(:last-child) {
    margin: 0px 30px 30px 0px;
  }
  .list-peculiarities__item:nth-child(2n) {
    margin-right: 0px;
  }
  .list-peculiarities__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .list-peculiarities .list-peculiarities__item {
    max-width: 450px;
  }
  .list-peculiarities .list-peculiarities__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .list-peculiarities__titel {
    display: flex;
    justify-content: center;
  }
}
.specificit {
  padding-top: 0;
}

.specificit__titel {
  color: #212121;
  margin-bottom: 50px;
}

.gallery-specificit {
  display: flex;
  justify-content: space-between;
}
.gallery-specificit__item {
  position: relative;
  max-width: 370px;
  width: 50%;
}
.gallery-specificit__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.gallery-specificit__img {
  display: block;
  width: 100%;
  height: auto;
}
.gallery-specificit__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.7176470588);
}

/*=======================================  Adaptive  ==========================================*/
@media (max-width: 1199px) {
  .specificit {
    display: none;
  }
}
.our-team {
  background-color: #F5F4FA;
}
.our-team__titel {
  color: #212121;
  margin-bottom: 50px;
}
.our-team__list {
  display: flex;
}

.list-our-team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list-our-team__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.list-our-team__item .body-info-our-team {
  padding: 30px 0px 30px 0px;
}

.list-our-team__item .body-info-our-team__titel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px 0px 10px 0px;
}
.list-our-team__item .body-info-our-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0px 0px 16px 0px;
}

.social-info-our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0px 0px 0px;
}
.social-info-our-team .social-info-our-team__item {
  display: inline-block;
  height: 44px;
  width: 44px;
}
.social-info-our-team .social-info-our-team__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.social-info-our-team .social-info-our-team__item .social-info-our-team__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-info-our-team .social-info-our-team__item .social-info-our-team__link .social-info-our-team__icon {
  fill: currentColor;
}
.social-info-our-team .social-info-our-team__item .social-info-our-team__link:hover, .social-info-our-team .social-info-our-team__item .social-info-our-team__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

@media (max-width: 1199px) {
  .our-team__titel {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
  .list-our-team {
    flex-wrap: wrap;
  }
  .list-our-team__item {
    max-width: 354px;
  }
  .list-our-team__item:not(:last-child) {
    margin: 0px 30px 30px 0px;
  }
  .list-our-team__item:nth-child(2n) {
    margin-right: 0px;
  }
  .list-our-team__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .list-our-team__item .list-our-team__img {
    height: 100%;
    width: 100%;
  }
  .list-our-team__item .body-info-our-team {
    padding: 30px 0px 16px 0px;
  }
}
@media (max-width: 767px) {
  .list-our-team {
    flex-wrap: wrap;
  }
  .list-our-team__item {
    max-width: 450px;
  }
  .list-our-team__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .list-our-team__item .body-info-our-team {
    padding: 30px 0px 24px 0px;
  }
}
@media (max-width: 390px) {
  .list-our-team__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
  .list-our-team__item .body-info-our-team {
    padding: 20px 0px 20px 0px;
  }
}
.permanent-clients__titel {
  color: #212121;
  margin-bottom: 50px;
}
.permanent-clients__list {
  display: flex;
}
.permanent-clients__item {
  height: 92px;
  width: 170px;
}
.permanent-clients__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.permanent-clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.permanent-clients__link:hover, .permanent-clients__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}
.permanent-clients__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

@media (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
  .permanent-clients__titel {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
  .permanent-clients__list {
    flex-wrap: wrap;
  }
  .permanent-clients__item {
    width: 226px;
    height: 92px;
  }
  .permanent-clients__item:not(:last-child) {
    margin: 0px 30px 30px 0px;
  }
  .permanent-clients__item:nth-child(3n) {
    margin-right: 0px;
  }
  .permanent-clients__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .permanent-clients__item {
    width: 210px;
    height: 92px;
  }
  .permanent-clients__item:not(:last-child) {
    margin: 0px 30px 30px 0px;
  }
  .permanent-clients__item:nth-child(2n) {
    margin-right: 0px;
  }
  .permanent-clients__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media (max-width: 479px) {
  .permanent-clients {
    margin: -5px;
  }
  .permanent-clients__item {
    width: 50%;
    height: 90px;
    padding: 5px;
  }
  .permanent-clients__item:not(:last-child) {
    margin: 0;
  }
}
@media (max-width: 390px) {
  .section {
    padding: 30px 0;
  }
  .permanent-clients__titel {
    font-size: 27px;
  }
}
.portfolio__wrapper-menu {
  margin: 0px 0px 50px 0px;
}

.menu-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-portfolio__item {
  border-radius: 4px;
  color: #212121;
  background-color: #F5F4FA;
}
.menu-portfolio__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.menu-portfolio__button {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-portfolio__button:hover, .menu-portfolio__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196F3;
  color: #FFFFFF;
}

@media (max-width: 1199px) {
  .portfolio {
    padding: 60px 0px 60px 0px;
  }
  .portfolio__wrapper-menu {
    margin-bottom: 30px;
  }
  .menu-portfolio__item:not(:last-child) {
    margin: 0px 8px 0px 0px;
  }
}
@media (max-width: 767px) {
  .portfolio__wrapper-menu {
    margin-bottom: 40px;
  }
  .portfolio__wrapper-menu .menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .portfolio__wrapper-menu .menu-portfolio__item:not(:last-child) {
    margin: 0px 8px 15px 0px;
  }
  .portfolio__wrapper-menu .menu-portfolio__item:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio__wrapper-menu .menu-portfolio__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .portfolio__wrapper-menu {
    margin-bottom: 20px;
  }
  .portfolio__wrapper-menu .menu-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio__wrapper-menu .menu-portfolio__item:not(:last-child) {
    margin: 0px 10px 10px 0px;
  }
  .portfolio__wrapper-menu .menu-portfolio__item:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio__wrapper-menu .menu-portfolio__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .portfolio__wrapper-menu .menu-portfolio__button {
    padding: 6px 18px 6px 18px;
    font-size: 14px;
  }
}
.columns-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.columns-portfolio__items {
  margin-right: 30px;
  margin-bottom: 30px;
}
.columns-portfolio__items:nth-child(3n) {
  margin-right: 0px;
}
.columns-portfolio__items:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.columns-portfolio__links:hover.columns-portfolio__body-column, .columns-portfolio__links:focus.columns-portfolio__body-column {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.columns-portfolio__body-column {
  background-color: #FFFFFF;
  border: 1px solid rgb(238, 238, 238);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body-column-product__wrapper {
  position: relative;
  overflow: hidden;
}
.body-column-product__wrapper::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: #2196F3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body-column-product__info {
  bottom: 0;
  position: absolute;
  top: 25%;
  left: 10%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.body-column-product__text-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.body-column-product__list {
  padding: 20px 24px;
}

.description-product__item:not(:last-child) {
  margin-bottom: 5px;
}
.description-product__titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.description-product__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.body-column-product:hover .body-column-product__info {
  transform: translateY(0);
}

.body-column-product:hover .body-column-product__wrapper::before {
  transform: translateY(0);
}

@media (max-width: 1199px) {
  .columns-portfolio {
    margin: -15px -15px;
  }
  .columns-portfolio__items {
    padding: 15px 15px;
    flex: 0 1 11%;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .columns-portfolio__items:first-child .body-column-product__list {
    padding-bottom: 56px;
  }
  .body-column-product__body-img {
    width: 352px;
    height: 294px;
  }
  .body-column-product__img {
    width: 100%;
    height: 100%;
  }
  .body-column-product__list {
    padding: 20px 20px;
  }
}
@media (max-width: 767px) {
  .columns-portfolio__items {
    width: 450px;
    height: 404px;
  }
  .columns-portfolio__items:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .columns-portfolio__items:first-child .body-column-product__list {
    padding-bottom: 20px;
  }
  .body-column-product__body-img {
    width: 450px;
    height: 294px;
  }
  .body-column-product__img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 479px) {
  .columns-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .columns-portfolio__items {
    width: 100%;
    padding: 0;
  }
  .columns-portfolio__items:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .body-column-product__body-img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 400px) {
  .portfolio {
    padding: 30px 0;
  }
  .portfolio__container {
    margin: 0 auto;
    padding: 0 5px;
  }
  .columns-portfolio__items:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
  .body-column-product__list {
    padding: 10px 10px;
  }
  .body-column-product__info {
    top: 10%;
    left: 0;
  }
  .body-column-product__text-info {
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  [class*=_container] {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  [class*=_container] {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  [class*=_container] {
    width: 1200px;
  }
}/*# sourceMappingURL=style.css.map */